header {
	position: fixed;
	z-index: 200;
	width: 100%;
	background-color: rgb(44, 44, 44);
	border-bottom: 5px solid rgb(34, 34, 34);
}
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.description {
	background-color: rgb(44, 44, 44);
	padding: 5% 22% 50% 20%;
	color: rgb(231, 231, 231);
}
.description * {
	width: 70%;
	margin-right: 0;
}
.description h1 {
	font-size: 3em;
}
.description p {
	margin-top: 1%;
}
.description p span {
	font-weight: bolder;
	color: rgb(255, 121, 152);
}
.jogar {
	text-align: center;
}
.jogar a:link {
	text-decoration: underline;
	color: rgb(255, 121, 152);
	font-size: 3em;
}
.ball {
	width: 22px;
	height: 22px;
	border-radius: 100%;
	left: 10px;
	text-align: center;
	color: white;
	font-family: sans-serif;
	font-size: 12px;
	position: fixed;
}
.oponents {
	width: 49%;
	height: 30px;
	display: inline-table;
	text-align: center;
	font-family: sans-serif;
}
.oponents div {
	background-color: rgb(34, 34, 34);
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 5%;
}
.oponents p {
	position: fixed;
	margin-left: 21%;
	margin-top: 0.3%;
	color: white;
}
.oponents div div {
	height: 30px;
	width: 0;
	margin: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.28));
}
#player1BarField {
	background-color: rgb(255, 0, 71);
}
#player2BarField {
	background-color: rgb(71, 0, 255);
}
#win {
	font-family: sans-serif;
	font-size: 60px;
	font-weight: lighter;
	color: white;
	text-shadow: black 2px 2px 10px;
	animation: winAnimation 3s;
	-webkit-animation: winAnimation 3s;
}
#war-field {
	text-align: center;
	padding: 20%;
}
p {
	margin: 0;
	font-size: 20px;
}